//colors
$stickerColor: #fff;
$mainColor: #ebca68;
$backgroundColor: #a1a1ff;
$headerColor: lighten($backgroundColor, 5);

//penny colors
$pennyColor: #ffe829;

//media-queries
$smallScreen: '(max-width: 640px)';
$wideScreen: '(min-width: 641px)';
